@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');

html, body {
    background-image: linear-gradient(0deg, #FFC15E, #CC5803);
    min-height: 100vh;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #1F1300;
    max-width: 1000px;
    margin: auto;
}

#fejlec {
    border-bottom: #F7934C .25rem solid;
    background-image: url("sok.png");
    background-size: cover;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    color: black;
}

h2 {
    display: inline-block;
    box-sizing: content-box;
    border-bottom: #CC5803 .5rem dashed;
}

#fejlec h1 {
    font-weight: 800;
}

#fokeret {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 10px;
}

#tartalom {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #F7B05B;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    text-align: justify;
}

#menu {
    background-color: #F7B05B;
    padding: 1rem;
    border-radius: 1rem;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

@media screen and (max-width: 1000px) {
    #fokeret {
        flex-wrap: wrap;
    }
    
    #menu {
        margin: auto;
        width: 100%;
    }

    #menu ul {
        text-align: center;
    }

    #menu ul li {
        display: inline-block;
    }
} 

#menu ul li {
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    list-style-image: url("papr.png");
    /*background-color: /*#335C67;;*/
    /*background-image: linear-gradient(45deg, #FFF, #000);*/
    /* border: 1px solid cadetblue; */
    background-color: #F7934C;
    border-radius: 1rem;
    padding: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
}

#menu ul li a::before {
    content: "";
    height: max-content;
    width: 1rem;
    background-color: #FFF;
}

#menu ul li a {
    text-decoration: none;
    color: #FFF;
}

table {
    border: #CC5803 .4rem solid !important;
    width: 300px;
    margin: 20px auto auto auto;
    border-collapse: collapse;
}

table, th, tr, td {
    border: #F7934C .2rem dashed;
    font-weight: bold;
    padding: 5px;
}

table td:nth-child(2) {
    width: 120px;
    text-align: center;
}

table tr:nth-child(2) td:nth-child(2) {
    background-color: greenyellow;
}

table tr:nth-child(3) td:nth-child(2) {
    background-color: yellow;
}

table tr:nth-child(4) td:nth-child(2) {
    background-color: palevioletred;
}

table tr:nth-child(5) td:nth-child(2) {
    background-color: plum; 
}
